In [16]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Kruisfontein,ZA,2021-10-30 14:37:10,-34.0033,24.7314,69.89,67,3,13.96,clear sky,0,0
1,1,Georgetown,MY,2021-10-30 14:36:16,5.4112,100.3354,77.90,94,40,0.00,scattered clouds,0,0
2,2,Port Alfred,ZA,2021-10-30 14:36:19,-33.5906,26.8910,68.70,74,0,18.28,clear sky,0,0
3,3,Thompson,CA,2021-10-30 14:36:27,55.7435,-97.8558,28.56,93,75,4.61,broken clouds,0,0
4,4,Tuktoyaktuk,CA,2021-10-30 14:36:28,69.4541,-133.0374,23.00,93,90,9.22,overcast clouds,0,0

In [18]:
cols = city_data_df.columns.tolist()
cols

['City_ID',
 'City',
 'Country',
 'Date',
 'Lat',
 'Lng',
 'Max Temp',
 'Humidity',
 'Cloudiness',
 'Wind Speed',
 'Current Description',
 'Rain inches (last 3 hours)',
 'Snow inches (last 3 hours)']

In [19]:
# Prompt the customer for the minimum temperature preference.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the customer for the maximum temperature preference. 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Prompt the customer to answer if he or she would like it to be raining or not.
rain = str(input('Do you want it to be raining? (yes/no)\n'))
# Prompt the customer to answer if he or she would like it to be snowing or not
snow = str(input('Do you want it to be snowing? (yes/no)\n'))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 85
Do you want it to be raining? (yes/no)
no
Do you want it to be snowing? (yes/no)
no

In [20]:
# Filter the dataset to find the cities that fit the criteria.
for index, row in city_data_df.iterrows():
    if rain == "no":
        rain_inches = city_data_df["Rain inches (last 3 hours)"] == 0
    else:
        rain_inches = city_data_df["Rain inches (last 3 hours)"] != 0
    if snow == "no":
        snow_inches = city_data_df["Snow inches (last 3 hours)"] == 0
    else:
        snow_inches = city_data_df["Snow inches (last 3 hours)"] != 0

In [21]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Rain inches (last 3 hours)"] != rain_inches) &
                                       (city_data_df["Snow inches (last 3 hours)"] != snow_inches) &
                                       (city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Kruisfontein,ZA,2021-10-30 14:37:10,-34.0033,24.7314,69.89,67,3,13.96,clear sky,0,0
1,1,Georgetown,MY,2021-10-30 14:36:16,5.4112,100.3354,77.90,94,40,0.00,scattered clouds,0,0
2,2,Port Alfred,ZA,2021-10-30 14:36:19,-33.5906,26.8910,68.70,74,0,18.28,clear sky,0,0
5,5,Quatre Cocos,MU,2021-10-30 14:37:18,-20.2078,57.7625,77.09,75,51,2.98,broken clouds,0,0
6,6,Nuuk,GL,2021-10-30 14:41:07,64.1835,-51.7216,41.61,65,75,26.46,broken clouds,0,0
8,8,Avarua,CK,2021-10-30 14:36:25,-21.2078,-159.7750,71.65,73,75,10.36,light rain,0,0
9,9,Busselton,AU,2021-10-30 14:36:11,-33.6500,115.3333,51.04,90,57,7.76,broken clouds,0,0
10,10,New Norfolk,AU,2021-10-30 14:36:14,-42.7826,147.0587,51.93,59,79,3.00,broken clouds,0,0
12,12,Atuona,PF,2021-10-30 14:36:18,-9.8000,-139.0333,77.36,69,18,15.93,few clouds,0,0
13,13,Rikitea,PF,2021-10-30 14:36:15,-23.1203,-134.9692,74.84,83,78,21.23,broken clouds,0,0

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kruisfontein,ZA,69.89,clear sky,-34.0033,24.7314,
1,Georgetown,MY,77.90,scattered clouds,5.4112,100.3354,
2,Port Alfred,ZA,68.70,clear sky,-33.5906,26.8910,
5,Quatre Cocos,MU,77.09,broken clouds,-20.2078,57.7625,
6,Nuuk,GL,41.61,broken clouds,64.1835,-51.7216,
8,Avarua,CK,71.65,light rain,-21.2078,-159.7750,
9,Busselton,AU,51.04,broken clouds,-33.6500,115.3333,
10,New Norfolk,AU,51.93,broken clouds,-42.7826,147.0587,
12,Atuona,PF,77.36,few clouds,-9.8000,-139.0333,
13,Rikitea,PF,74.84,broken clouds,-23.1203,-134.9692,

In [23]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")